.texto{
    color: rgba(rgb(53, 240, 6), );
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bold;
     font-style: italic;
     letter-spacing: 5px;
     word-spacing: 5px;
     position: relative;
     text-shadow: 3px 0.1px rgb(0, 255, 60);
     font-variant: small-caps;
     text-align: center;
}
.pepe{
    align-items: center;
}